.message {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 5%;
  border-radius: 20px;
}
.message-passed {
  background-color: rgba(0, 128, 0, 0.319);
}

.message-no-passed {
  background-color: rgba(255, 0, 0, 0.368);
}
