.container {
  display: flex;
  justify-content: center;
  margin: 1% 0;
}

.container div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 36px 64px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.botoes {
  display: flex;
  gap: 8%;
  justify-content: space-around;
}

.mensagem-erro {
  color: red;
  font-size: large;
  text-decoration: underline;
}
