.container {
  display: flex;
  justify-content: center;
  margin: 1% 0;
}

.container div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 36px 64px;
}

.botoes {
  display: flex;
  gap: 8%;
  justify-content: space-around;
}

.mensagem-erro {
  color: red;
  font-size: large;
  background-color: rgba(255, 0, 0, 0.11);
  padding: 2%;
  border: 1pt solid red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
