.campo-texto {
  margin: 24px 0;
}
.campo-texto label {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}
.campo-texto input {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  border: none;
  font-size: 24px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
